{% load static %}

<html>
    <head>
        <title>Lena`s cloud file storage</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">
		
    </head>
    <body>
    	{% block header %}
			{% include 'file_host_template/include/header.html' %} 
		{% endblock header %}
		    
		    <div class="content container">
		        <div class="row">
		            <div class="col-md-8">
			            {% block content %}
			            {% endblock %}
		            </div>
		        </div>
		    </div>
    </body>
</html>