{% extends 'file_host_template/base.html' %}

{% block content %}
        <h2>Files</h2>
        {% for file in files %}
                
                <ul>                        
                        <li> <a href="{{ file.get_absolute_url }}">{{ file }} </a>{{file.count_download}}</li>
                </ul> 
        
        {% endfor %}
{% endblock %}

<!-- <div>
                        <ul>                        
                                <li><a href="../media/{{file.file.name}} " download={{file.original_filename}}><h2 click="{{file.count_downloaded}}">{{ file}}</h2></a></li>
                                {{file.count_download}}
                        </ul>
                </div> -->